<style>
    a i {
        color: #2e2b2b;
    }
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/rishab.dakhale.9/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/rishabdakhale2002/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rishab-dakhale-782346344/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>